@import "../../scss/abstracts/variables";

.secondary-sub {
  font-family: $font-secondary;
  font-size: 1.6rem;
  color: $color-text;
  display: inline-block;
  margin: 1.2rem 0;
  line-height: 1.5;
  user-select: text;

  transition: all 300ms ease-out;
}

.slide-top {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-5rem);
}
