@import '../../scss/abstracts/variables';

.contact {
  position: absolute;
  top: 50%;
  left: -7rem;
  transform: translateY(-50%);
  z-index: $layer-contact;

  @media only screen and (min-width: 100em) {
    left: -12.5rem;
  }

  &__list {
    list-style: none;
  }

  &__link {
    &:visited,
    &:link {
      display: block;
      color: $color-white;
      font-size: 2.5rem;
      padding: 1.2rem;
      transition: all 450ms $cubic-bezier-primary;
      text-decoration: none;

      @media only screen and (max-width: 31.25em) {
        padding: 1rem;
      }

      @media only screen and (min-width: 100em) {
        padding: 1.5rem;
        font-size: 2.8rem;
      }
    }

    &--linkedin {
      background-color: $color-linkedin;
    }
    &--github {
      background-color: $color-github;
    }
    &--email {
      background-color: $color-email;
    }
    &--resume {
      background-color: $color-gray;
    }

    &:hover,
    &:active,
    &:focus {
      transform: translateX(6.4rem);
    }
  }

  &__label {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.6rem;
    margin-right: 1.2rem;
    width: 5.8rem;
    letter-spacing: 1px;
    text-align: right;

    @media only screen and (min-width: 100em) {
      width: 10.8rem;
    }
  }
}
