.portfolio {
  margin-top: 4rem;
}

.slide-left {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-5rem);
}
.slide-right {
  opacity: 0;
  visibility: hidden;
  transform: translateX(5rem);
}
